<div class="row">
  <div class="col-sm-2 list-group category-list">
    <% @categories.each do |category| %>
      <%= link_to category.name, category_path(category.id), class: 'list-group-item list-group-item-action' %>
    <% end %>
  </div>
  <div class="col-sm-10">
    <h2>This is categories for <%= @main_category.name %></h2>
  </div>
</div>
