/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

.category-1 {
  .nav-link, .dropdown-item {
    &:hover {
      background-color: #FFFF8F !important;
      color: #191E20 !important;
    }
  }
}
.category-2 {
  .nav-link, .dropdown-item {
    &:hover {
      background-color: #FFB198 !important;
      color: #191E20 !important;
    }
  }
}
.category-3 {
  .nav-link, .dropdown-item {
    &:hover {
      background-color: #8EE2FF !important;
      color: #191E20 !important;
    }
  }
}
.category-4 {
  .nav-link, .dropdown-item {
    &:hover {
      background-color: #FFE28E !important;
      color: #191E20 !important;
    }
  }
}
.category-5 {
  .nav-link, .dropdown-item {
    &:hover {
      background-color: #90F3FF !important;
      color: #191E20 !important;
    }
  }
}


body{
  background-color: #f1f2ee;
  font-family:  "Comic Sans MS", sans-serif;
  font-stretch: ultra-condensed;
  #category{
    padding-left: 0;
    #category-element{
      padding: 0.25em 0.5em 0.25em 0.5em;
    }
  }
  .content-margins {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .fonts {
    h2 {
      font-family: "Comic Sans MS", sans-serif;
      color: #435058;
      margin-top: 10px;
    }
  }
  footer.page-footer{
    background-color: #435058;
  }
  nav.navbar{
    border-radius: 0px 0px 5px 5px;
    background-color: #435058;
    a{
      color: #EFEFEF;
    }
    .nav-link, .dropdown-item {
      &:hover {
        background-color: #DCF763;
        color: #435058;
        border-radius: 7px;
      }
    }
    .dropdown-menu{
      background-color: #435058;
      border-color: #EFEFEF;
    }
  }
  div.list-group.category-list {
    padding: 1em 0em 0em 0em;

    a.list-group-item {
      padding: 0.5em 0.5em 0.5em 1em;
    }
  }
  .item {
    img {
      object-fit: cover;
      height: 400px !important;
      width: 700px !important;
      margin: auto;
    }
  }
}
.container-category {
    width: 200px;
    margin-left: 0px;
    margin-right: 0px ;
}

.form-style {
  margin-top: 30px;
  margin-bottom: 30px;
  border-color: #435058;

  .form-control {
    background-color: #f1f2ee !important;
    &:focus {
      background-color: #f1f2ee !important;
      box-shadow: none;
      border-color: #435058;
    }
  }
  #placeholder {
    color: #586871 !important;
    font-style: italic;
  }
  a {
    color: #435058;
    &:hover {
      text-decoration: none;
      color: #687982;
    }
  }
  h2 {
    color: #435058;
    font-family: Sans-Serif, Helvetica, sans-serif;
  }
  p {
    color: #435058;
    font-family: Sans-Serif, Helvetica, sans-serif;
  }
  label {
    color: #435058;
  }
}
.btn-custom {
  color: #435058;
  border-color: #435058;
  &:hover {
    background-color: #DCF763;
    border-color: #DCF763 !important;
    color: #435058;
    border-radius: 7px;
  }
}
.table>tbody>tr>td, .table>tfoot>tr>td{
  vertical-align: middle;
}
@media screen and (max-width: 600px) {
  table#cart tbody td .form-control{
    width:20%;
    display: inline !important;
  }
  .actions .btn{
    width:36%;
    margin:1.5em 0;
  }

  .actions .btn-info{
    float:left;
  }
  .actions .btn-danger{
    float:right;
  }

  table#cart thead { display: none; }
  table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
  table#cart tbody tr td:first-child { background: #333; color: #fff; }
  table#cart tbody td:before {
    content: attr(data-th); font-weight: bold;
    display: inline-block; width: 8rem;
  }
  table#cart tfoot td{display:block; }
  table#cart tfoot td .btn{display:block;}

}

/*footer*/
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#435058; min-height:250px; padding:10px 0px 25px 0px ; border-radius: 5px 5px 0px 0px}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #435058; padding-bottom:20px;}
.foote_bottom_ul_amrc {
  list-style-type:none;
  padding:0px;
  display:table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}