<tr>
  <td data-th="Product">
    <div class="row">
      <div class="col-sm-2 hidden-xs name-style"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
        <h4 style="margin: auto"><%= line_item.product.product_name %></h4>
<!--        <p>Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet.</p>-->

    </div>
  </td>
  <td data-th="Price"><%= number_to_currency(line_item.product.price, format: "%n BYN") %></td>
  <td data-th="Quantity">
    <input type="number" class="form-control text-center" value="1">
  </td>
  <td data-th="Subtotal" class="text-center"><%= number_to_currency(line_item.total_price, format: "%n BYN") %></td>
  <td class="actions" data-th="">
    <button class="btn btn-custom btn-sm"><i class="fa fa-refresh">Обновить</i></button>
    <button class="btn btn-custom btn-sm"><i class="fa fa-trash-o"><%= link_to 'Удалить', line_item, method: :delete, remote: true, id:'placeholder' %></i></button>
  </td>
</tr>